body{
    font-family: "Roboto",sans-serif;
    color:rgb(0,0,0);
    margin:0px;
    padding:0px;
    text-align: center;
    background-color:rgb(225, 214, 200);
    
}

header{
    background-color: rgb(0,86,214);
    color:rgb(255,255,255);
    padding:10px;
    text-align:center;
    width:100%;
    position:relative;
    font-size:20px;
}
nav{
    margin-top:10px;
}

nav a{
    color:rgb(255,255,255);
    text-decoration:none;
    padding:6px 12px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

section{
    margin:50px 0;
    position:relative;
}

#About img{
    border-radius: 50%;
    margin-bottom: 10px;
    position:relative;
    top:5px;
}

#Skills table{
    margin:0 auto;
    border-collapse:collapse;
    width:60%;
    background-color: rgb(255, 255, 255);
    text-align:center;
    border:3px solid rgb(2,2,160);
}

th,td{
    border:rgb(2,2,160) solid 1px;
    padding:10px;
    width:50%;
}

th{
    background-color:rgb(2,2,160);
    color:rgb(255,255,255);
}

.p1{
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(225, 214, 200);
    margin: 20px;
    padding:15px;
}

.p2{
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(225, 214, 200);
    margin: 20px;
    padding:15px;
}    

.p3{
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(225, 214, 200);
    margin: 20px;
    padding:15px;
}

.form,table{
    border-collapse:collapse;
    background-color:rgb(255, 255, 255);
    width:60%;
    text-align: center;
    margin-left: 20%;
}

input, textarea{
    width:
    color:rgb(255, 255, 255);
    border:1px solid rgb(2,2,160);
    padding:6px;
    border-radius:3px;
}

button{
    background-color: rgb(0, 80, 160);
    color:rgb(255, 255, 255);
    margin-top:10px;
    width:30%
}

hr{
    border:3px solid rgb(1,1,1);
}
 
